@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  position: relative;
  height: 100%;
  
  /* Default font color */
  color: black;

  --foreground-rgb: 0, 0, 0;
  background-color: rgb(247, 247, 247);
  /* --background-start-rgb: 237, 237, 237;
  --background-end-rgb: 255, 255, 255; */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Darkmode font color */
    color: white;
  }

  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }

  .nav {
    @apply !text-white !bg-black;
  }

  @media screen(md) {
    .nav {
      @apply !text-black !bg-white;
    }
  }


  .footer {
    @apply !bg-white !text-black;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.main {
  @apply flex flex-1;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Button style */

.button_white {
  @apply text-black bg-slate-50 hover:bg-slate-100 border-neutral-300;
}

.button_white > .progress_bar  {
  @apply bg-neutral-200;
}

.button_pink {
  @apply text-pink-700 bg-pink-50 hover:bg-pink-100 border-pink-500;
}

.button_pink > .progress_bar {
  @apply bg-pink-200;
}

.button_red {
  @apply text-red-700 bg-red-50 hover:bg-red-100 border-red-500;
}

.button_red > .progress_bar {
  @apply bg-red-200;
}

.button_green {
  @apply text-green-700 bg-green-50 hover:bg-green-100 border-green-500;
}

.button_green > .progress_bar {
  @apply bg-green-200;
}
.button_blue {
  @apply text-blue-700 bg-blue-50 hover:bg-blue-100 border-blue-500;
}

.button_blue > .progress_bar {
  @apply bg-blue-200;
}

.progress_bar {
  @apply absolute left-0 top-0 h-full rounded
    transition-all duration-500 ease-out overflow-hidden
    flex justify-end items-center pr-2
    pointer-events-none
    bg-neutral-300;
}

button {
  @apply z-10 text-sm py-2 px-4 rounded font-semibold border border-neutral-200
    relative inline-flex flex-row justify-center items-center
    dark:bg-white dark:text-black hover:bg-neutral-100 transition-colors;
}

/* Input style */

input {
  @apply px-4 py-2 outline-none dark:text-black rounded;
}

/* Mini Components */
.divider {
  @apply divide-y divide-gray-800 dark:divide-gray-100;
}

/* HEADER STYLES */

.logo-container {
  @apply h-full w-auto;
}

.logo {
  @apply h-full w-fit object-contain;
}

.nav {
  @apply fixed h-full w-full top-0 left-full bg-white transition-transform p-8 flex flex-col gap-4 overflow-hidden;
}

@media screen(md) {
  /* ... */
  .nav {
    @apply relative h-full top-auto left-auto flex flex-row justify-end;
  }
}

.show-nav {
  @apply -translate-x-full md:-translate-x-0;
}

/* FOOTER STYLES */
.footer {
  @apply text-white bg-black flex flex-row px-5 py-3 font-extralight;
}

/* Navigation */

.nav-bar {
  @apply flex flex-col justify-center gap-6 font-light;
}

@media screen(md) {
  .nav-bar {
    @apply flex flex-row w-full items-center justify-end gap-6 font-light;
  }
}

.horizontal-collection {
  @apply flex flex-col;
  height: 175px;
}

@media screen(md) {
  .horizontal-collection {
    height: 300px;
  }
}

.horizontal-collection img {
  z-index: 0;
  @apply transition-transform;
}

.horizontal-collection img:hover {
  z-index: 100;
  transform: translateY(-5px);
}

/* DASHBOARD */
.dashboard {
  @apply flex flex-1 flex-col w-full;
}

.dashboard-nav {
  @apply flex flex-row overflow-x-scroll bg-black text-white;
}

.dashboard-nav .nav-link {
  @apply py-3 px-4 text-nowrap;
}

/* Ingest Station */
