@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  position: relative;
  height: 100%;
  
  /* Default font color */
  color: black;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 237, 237, 237;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Darkmode font color */
    color: white;
  }

  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* HEADER STYLES */

.logo-container {
  @apply h-full w-full
}

.logo {
  @apply h-full w-fit object-contain
}

.nav {
  @apply fixed h-full w-full top-0 left-full bg-white transition-transform p-8 flex flex-col gap-4
}

@media screen(md) {
  /* ... */
  .nav {
    @apply relative h-full top-auto left-auto flex flex-row justify-end
  }
}

.show-nav {
  @apply -translate-x-full md:-translate-x-0
}

/* Navigation */

.nav-bar {
  @apply flex flex-col justify-center gap-6 font-light
}

@media screen(md) {
  .nav-bar {
    @apply flex flex-row w-full items-center justify-end gap-6 font-light
  }
}