@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  position: relative;
  height: 100%;
  
  /* Default font color */
  color: black;

  --foreground-rgb: 0, 0, 0;
  background-color: rgb(247, 247, 247);
  /* --background-start-rgb: 237, 237, 237;
  --background-end-rgb: 255, 255, 255; */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Darkmode font color */
    color: white;
  }

  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }

  .nav {
    @apply !text-white !bg-black;
  }

  @media screen(md) {
    .nav {
      @apply !text-black !bg-white;
    }
  }


  .footer {
    @apply !bg-white !text-black;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.main {
  @apply flex flex-1;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

button {
  @apply bg-black text-white px-4 py-2 h-min dark:bg-white dark:text-black;
}

/* Mini Components */
.divider {
  @apply divide-y divide-gray-800 dark:divide-gray-100;
}


/* HEADER STYLES */

.logo-container {
  @apply h-full w-auto;
}

.logo {
  @apply h-full w-fit object-contain;
}

.nav {
  @apply fixed h-full w-full top-0 left-full bg-white transition-transform p-8 flex flex-col gap-4 overflow-hidden;
}

@media screen(md) {
  /* ... */
  .nav {
    @apply relative h-full top-auto left-auto flex flex-row justify-end;
  }
}

.show-nav {
  @apply -translate-x-full md:-translate-x-0;
}

/* FOOTER STYLES */
.footer {
  @apply text-white bg-black flex flex-row px-5 py-3 font-extralight;
}

/* Navigation */

.nav-bar {
  @apply flex flex-col justify-center gap-6 font-light;
}

@media screen(md) {
  .nav-bar {
    @apply flex flex-row w-full items-center justify-end gap-6 font-light;
  }
}

input {
  @apply px-4 py-2 outline-none dark:text-black;
}

.horizontal-collection {
  @apply flex flex-col;
  height: 175px;
}

@media screen(md) {
  .horizontal-collection {
    height: 300px;
  }
}

.horizontal-collection img {
  z-index: 0;
  @apply transition-transform;
}

.horizontal-collection img:hover {
  z-index: 100;
  transform: translateY(-5px);
}